In [1]:
import pandas as pd

In [2]:
# 2 Main Datatypes
series = pd.Series(["BMW", "Toyata","Honda"])

In [3]:
series

0       BMW
1    Toyata
2     Honda
dtype: object

In [4]:
# series = 1-dimensional

In [6]:
colours = pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [16]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car Make": series, "Colour": colours})
car_data

  Car Make Colour
0      BMW    Red
1   Toyata   Blue
2    Honda  White

In [17]:
# Import Data